* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background: #d4d4d4;

}
header {
   text-align: center;
}

#container {
  width: 1262px;
  margin: auto;
}
/* Pokemon */
.pokemon {
  height: 250px;
  background: #ffffff;
  border-radius: 6px;
  margin-top: 1vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.pokemon img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #d4d4d4;
    /* margin-left: 40px; */
}
.pokemon h2 {
    text-transform: uppercase;
    margin-right: 400px;
}

/* Search */

.search-box {
  width:1262px;
  background-color: #ffffff;
  margin: 80px auto 0;
  border-radius: 5px;

}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
}
input {
  flex: 0.5;
  height: 50px;
  background: #ffffff;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: #333;
  padding-left: 10px;

}
button{
  background: transparent;
  border: 0;
  outline: 0;
}
.fa-solid{
  width: 25px;
  color: #555;
  font-size: 22px;
  cursor: pointer;

}
/* Favorites */

.favorites{
  margin-bottom: 100px;
}

.fa-regular {
  width: 40px;
  height: 40px;
}